# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules
/.metadata/
*.vscode
*.log
*.settings
*.classpath
*.project
*.factorypath
*.class
*/bin
*.idea
*.iml
*.mvn
*mvnw*

